################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################
#*.ev?
#*.ev?.*
.vs/
Debug/
data/
ev/
*.*~
*.ros
*.zip
*.swp
*.o
*.exe
