################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################
.vs/
Debug/
data/
_data/
*.*~
*.ros
*.zip
*.swp
*.o
*.exe
