/****** Script for SelectTopNRows command from SSMS  ******/
SELECT DISTINCT CONCAT ( 
       [PitcherID]
	  ,','
      ,[CatcherID]
	  ,','
      ,[FirstBaseID]
	  ,','
      ,[SecondBaseID]
	  ,','
      ,[ThirdBaseID]
	  ,','
      ,[ShortstopID]
	  ,','
      ,[LeftFieldID]
	  ,','
      ,[CenterFieldID]
	  ,','
      ,[RightFieldID])
  FROM [Retro].[dbo].[Events]