.nav {
	list-style: none; margin: 0px; padding: 0px; font-size: small;
}
.nav * {
	list-style: none; margin: 0px; padding: 0px; font-size: small;
}
.nav {
	line-height: 0.7;
}
.nav ul {
	top: -999em; width: 9.75em; position: absolute;
}
.nav ul li {
	width: 100%;
}
.nav a {
	width: 100%;
}
.nav li {
	float: left; position: relative; z-index: 99;
}
.nav a {
	display: block;
}
.nav li:hover ul {
	left: -1px; top: 2.2em;
}
ul.nav li.sfHover ul {
	left: -1px; top: 2.2em;
}
.nav li:hover li ul {
	top: -999em;
}
.nav li.sfHover li ul {
	top: -999em;
}
.nav li li:hover ul {
	left: 9.75em; top: -1px;
}
ul.nav li li.sfHover ul {
	left: 9.75em; top: -1px;
}
.superfish li:hover ul {
	top: -999em;
}
.superfish li li:hover ul {
	top: -999em;
}
.nav {
	margin-bottom: 1em; border-right-color: rgb(174, 201, 170); border-bottom-color: rgb(174, 201, 170); border-right-width: 1px; border-bottom-width: 1px; border-right-style: solid; border-bottom-style: solid; float: left;
}
.nav li {
	background: rgb(255, 255, 255); width: 9.75em; border-top-color: rgb(174, 201, 170); border-left-color: rgb(174, 201, 170); border-top-width: 1px; border-left-width: 1px; border-top-style: solid; border-left-style: solid;
}
.nav a {
	padding: 0.75em 0px; color: rgb(64, 104, 48); text-indent: 0.25em; text-decoration: none;
}
.nav li:hover {
	background: rgb(209, 223, 201);
}
.nav li.sfHover {
	background: rgb(209, 223, 201);
}
.nav a:focus {
	background: rgb(209, 223, 201);
}
.nav a:hover {
	background: rgb(209, 223, 201);
}
.nav a:active {
	background: rgb(209, 223, 201);
}
.nav li li {
	background: rgb(174, 201, 170); border-top-color: rgb(255, 255, 255); border-right-color: rgb(255, 255, 255); border-left-color: rgb(255, 255, 255); border-top-width: 1px; border-right-width: 1px; border-left-width: 1px; border-top-style: solid; border-right-style: solid; border-left-style: solid;
}
.nav li li li {
	background: rgb(174, 201, 170);
}
.mbcenter {
	width: 59em; margin-right: auto; margin-left: auto;
}
img.bancenter {
	border: 0px currentColor; margin-right: auto; margin-left: auto; display: block;
}
p.nopad {
	margin: 0.6em; padding: 0em;
}
.clearboth {
	clear: both;
}
